[submodule "external_libraries/godot-cpp"]
	path = external_libraries/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "external_libraries/miniscript"]
	path = external_libraries/miniscript
	url = https://github.com/godotengine/miniscript
